<!DOCTYPE html>
<html
    lang="en"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}"
>
<head>
    <title>Projetos</title>
</head>

<body>

<div layout:fragment="content">
    <div class="page-header">
        <h1>Projetos da empresa</h1>
    </div>

    <table class="table table-bordered">
       	<thead>
       		<tr>
       			<th>Projeto</th>
       			<th>Recurso</th>
       			<th>Horas</th>
       		</tr>
       	</thead>
       	
       	<tbody>
       		<tr>
       			<td>001</td>
       			<td>João Souza</td>
       			<td>20h</td>        			
       		</tr>
       		
       		<tr>
       			<td>014</td>
       			<td>Fernando Magno</td>
       			<td>18h</td>        			
       		</tr>
       		
       		<tr>
       			<td>001</td>
       			<td>Severino da Silva</td>
       			<td>247h</td>        			
       		</tr>
       	</tbody> 	
	</table>
</div>
</body>
</html>